p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod nisl nunc, a dictum magna laoreet eget. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.

div.tm-wrapper.uk-text-center
  figure
    a(href="images/articles/macbook-photo.jpg")
      img(src="images/articles/macbook-photo.jpg"
          alt="MacBook Pro")
    figcaption MacBook Pro

p Sed sit amet ante eget nunc dictum auctor sagittis in libero. Aliquam ultricies tincidunt nisi, a vestibulum nisi tempor vitae. Praesent fermentum sem semper fermentum ultrices. Duis eleifend vel sapien dignissim auctor. Vestibulum at commodo leo. In vitae eros ut sapien egestas venenatis non sit amet elit. In gravida vitae ante a rutrum.

h2 Touch Bar
p Vivamus ornare tortor elit, sed rutrum felis iaculis in. Nunc ut molestie neque. Aenean vitae elementum arcu, at rutrum ligula. Pellentesque fringilla dictum viverra. Vestibulum eu ipsum nec risus pharetra iaculis. Donec quis nulla orci. Suspendisse eget dictum augue, et lobortis justo. Suspendisse velit dui, sollicitudin quis velit nec, tincidunt consequat arcu.

h2 Retina Display
p Pellentesque dictum imperdiet rutrum. Vestibulum egestas quam eget maximus rutrum. Etiam blandit a dolor laoreet vulputate. Nulla ullamcorper ipsum et libero finibus, vitae vestibulum odio feugiat.

figure.uk-text-center
  a(href="images/articles/macbook-promo-4.jpg")
    img(src="images/articles/macbook-promo-4.jpg"
        alt="MacBook Pro")

h2 Force Touch Trackpad
p Vivamus ornare tortor elit, sed rutrum felis iaculis in. Nunc ut molestie neque. Aenean vitae elementum arcu, at rutrum ligula. Pellentesque fringilla dictum viverra. Vestibulum eu ipsum nec risus pharetra iaculis. Donec quis nulla orci. Suspendisse eget dictum augue, et lobortis justo. Suspendisse velit dui, sollicitudin quis velit nec, tincidunt consequat arcu.

div.tm-wrapper
  figure.tm-ratio.tm-ratio-16-9
    iframe(
      src="https://www.youtube.com/embed/WVPRkcczXCY"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen)

p Ut arcu lacus, tempus bibendum purus sed, iaculis sollicitudin sapien. Donec quis imperdiet arcu. Ut sagittis ipsum diam, nec tempor ex fermentum a. Nam ac vehicula erat. Curabitur id congue risus, vel iaculis enim. Donec tristique lacinia velit eu fringilla. Mauris lectus enim, aliquet eu dolor sed, porta vehicula lacus. Etiam luctus egestas scelerisque. Sed sit amet metus ante. Cras pulvinar sollicitudin nisl nec egestas. Maecenas vitae velit ut urna vestibulum venenatis ut vel ex. Quisque sit amet mattis ante. Duis blandit nisl non commodo rutrum. Nulla in velit ut arcu efficitur laoreet ut eu mauris. Duis condimentum vulputate consequat. Vestibulum aliquet suscipit purus.

figure(uk-slideshow)
  div.uk-position-relative.uk-visible-toggle.uk-light
    ul.uk-slideshow-items
      li
        img(
          src="images/articles/macbook-promo-1.jpg"
          alt="MacBook Pro"
          uk-cover)
      li
        img(
          src="images/articles/macbook-promo-2.jpg"
          alt="MacBook Pro"
          uk-cover)

    a.uk-position-center-left.uk-position-small.uk-hidden-hover(
      href="#"
      uk-slidenav-previous
      uk-slideshow-item="previous")
    a.uk-position-center-right.uk-position-small.uk-hidden-hover(
      href="#"
      uk-slidenav-next
      uk-slideshow-item="next")

  ul.uk-slideshow-nav.uk-dotnav.uk-flex-center.uk-margin

p Mauris dignissim non nulla quis sollicitudin. Maecenas quis orci dui. Suspendisse pharetra facilisis metus, at venenatis nisl convallis et. Curabitur vulputate eget nisl sed dignissim. Sed eget metus ut orci volutpat gravida.

blockquote.twitter-tweet(data-lang="en")
  p(lang="en" dir="ltr")
    | Mophie&apos;s latest battery pack is powerful enough to charge your 15-inch MacBook Pro
    a(href="https://t.co/jN4RzcxOyG") https://t.co/jN4RzcxOyG
    a(href="https://t.co/5oJBKZRVBx") pic.twitter.com/5oJBKZRVBx
  | &mdash; The Verge (@verge)
  a(href="https://twitter.com/verge/status/948539601265872896?ref_src=twsrc%5Etfw") January 3, 2018
script(src="https://platform.twitter.com/widgets.js" charset="utf-8" async)

p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sem urna, accumsan nec velit et, convallis tincidunt enim. Proin sollicitudin, metus at interdum tempus, velit mi posuere nisl, nec viverra ligula lorem sit amet felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

table(class="uk-table " +
            "uk-table-large " +
            "uk-table-middle " +
            "uk-table-divider " +
            "uk-table-justify " +
            "uk-table-responsive")

  thead
    tr
      th
      th.uk-width-1-4.uk-text-center MacBook Pro 13"
      th.uk-width-1-4.uk-text-center MacBook Pro 13" with Touch Bar
      th.uk-width-1-4.uk-text-center MacBook Pro 15" with Touch Bar

  tbody
    tr
      th Dimensions
      td 0.59 × 11.97 × 8.36&nbsp;inches
      td 0.59 × 11.97 × 8.36&nbsp;inches
      td 0.61 × 13.75 × 9.48&nbsp;inches
    tr
      th Weight
      td 3.02&nbsp;pounds
      td 3.02&nbsp;pounds
      td 4.02&nbsp;pounds
    tr
      th Display
      td 13.3" 2560×1600,<br>60Hz Retina Display
      td 13.3" 2560×1600,<br>60Hz Retina Display
      td 15.4" 2880×1800,<br>60Hz Retina Display
    tr
      th Inputs
      td 2 × USB-C Ports,<br>1 × 3.5mm Headphone Jack
      td 4 × USB-C Ports,<br>1 × 3.5mm Headphone Jack
      td 4 × USB-C Ports,<br>1 × 3.5mm Headphone Jack
    tr
      th Battery Life
      td Approximately 10&nbsp;hours
      td Approximately 10&nbsp;hours
      td Approximately 10&nbsp;hours

p Sed at diam aliquet, fringilla turpis ac, consequat ante. Duis id maximus purus. Cras rutrum erat non nibh accumsan, vitae maximus sapien elementum. Maecenas tellus libero, vulputate vitae mi eu, volutpat ornare felis. Nulla malesuada nunc urna, quis rutrum massa consequat id. Pellentesque elit diam, dignissim a lorem eu, tincidunt mollis erat.

div.tm-wrapper
  figure.uk-text-center
    a(href="images/articles/macbook-promo-3.jpg")
      img(src="images/articles/macbook-promo-3.jpg"
          alt="MacBook Pro")
    figcaption 13-inch and 15-inch

p Sed at diam aliquet, fringilla turpis ac, consequat ante. Duis id maximus purus. Cras rutrum erat non nibh accumsan, vitae maximus sapien elementum. Maecenas tellus libero, vulputate vitae mi eu, volutpat ornare felis. Nulla malesuada nunc urna, quis rutrum massa consequat id. Pellentesque elit diam, dignissim a lorem eu, tincidunt mollis erat.

blockquote(cite="#")
  p.uk-margin-small-bottom You can converge a toaster and refrigerator, but these things are probably not going to be pleasing to the user.
  footer Tim Cook